/*
!/.ackrc
!/.bash_aliases
!/.bash_profile
!/.bin/
!/.gitignore
!/.gitmodules
!/.gitconfig
!/.gvimrc
!/.inputrc
!/.hushlogin
!/.mostrc
!/.pdbrc
!/.psqlrc
!/.screenrc
!/.zshrc
!/.zsh/

/.config/
/.config/fish/fish_history
/.config/fish/fishd.*
!/.config/fish/config.fish
!/.config/fish/functions/bindings.fish
!/.config/fish/functions/fish_prompt.fish

!/.vimrc
!/.vim/
/.vim/.netrwhist

!/README.md
!/install.sh
