[user]
	name = Vladimir Rudnyh
	email = rudnyh@corp.mail.ru
[color]
	ui = true
[core]
	quotepath = false
	editor = vim
[push]
	default = tracking
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[diff]
	tool = Kaleidoscope
[difftool]
	prompt = false
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool]
	prompt = false
[merge]
	tool = Kaleidoscope
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less

[alias]
	branches = branch -a
