/*
!/.ackrc
!/.bash_aliases
!/.bash_profile
!/.bin/
!/.gitignore
!/.gitmodules
!/.gitconfig
!/.gvimrc
!/.inputrc
!/.hushlogin
!/.mostrc
!/.pdbrc
!/.psqlrc
!/.screenrc
!/.zshrc
!/.zsh/

!/.config/fish/config.fish
!/.config/fish/functions/

!/.vimrc
!/.vim/
/.vim/.netrwhist

!/README.md
