/*
!/.ackrc
!/.bash_aliases
!/.bash_profile
!/.bin/
!/.gitignore
!/.gitmodules
!/.gitconfig
!/.gvimrc
!/.inputrc
!/.hushlogin
!/.mostrc
!/.pdbrc
!/.psqlrc
!/README.md
!/.screenrc
!/.vimrc
!/.vim/
!/.zshrc
!/.zsh/
/.vim/.netrwhist
