<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AboutToPasteTabsWithCancel</key>
	<true/>
	<key>AboutToPasteTabsWithCancel_selection</key>
	<integer>2</integer>
	<key>AllowClipboardAccess</key>
	<true/>
	<key>AlternateMouseScroll</key>
	<true/>
	<key>CheckTestRelease</key>
	<false/>
	<key>CopySelection</key>
	<false/>
	<key>Custom Color Presets</key>
	<dict>
		<key>Solarized Dark</key>
		<dict>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.19370138645172119</real>
				<key>Green Component</key>
				<real>0.15575926005840302</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.14145714044570923</real>
				<key>Green Component</key>
				<real>0.10840655118227005</real>
				<key>Red Component</key>
				<real>0.81926977634429932</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.38298487663269043</real>
				<key>Green Component</key>
				<real>0.35665956139564514</real>
				<key>Red Component</key>
				<real>0.27671992778778076</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.43850564956665039</real>
				<key>Green Component</key>
				<real>0.40717673301696777</real>
				<key>Red Component</key>
				<real>0.32436618208885193</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.51685798168182373</real>
				<key>Green Component</key>
				<real>0.50962930917739868</real>
				<key>Red Component</key>
				<real>0.44058024883270264</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.72908437252044678</real>
				<key>Green Component</key>
				<real>0.33896297216415405</real>
				<key>Red Component</key>
				<real>0.34798634052276611</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.56363654136657715</real>
				<key>Green Component</key>
				<real>0.56485837697982788</real>
				<key>Red Component</key>
				<real>0.50599193572998047</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.86405980587005615</real>
				<key>Green Component</key>
				<real>0.95794391632080078</real>
				<key>Red Component</key>
				<real>0.98943418264389038</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.020208755508065224</real>
				<key>Green Component</key>
				<real>0.54115492105484009</real>
				<key>Red Component</key>
				<real>0.44977453351020813</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.023484811186790466</real>
				<key>Green Component</key>
				<real>0.46751424670219421</real>
				<key>Red Component</key>
				<real>0.64746475219726562</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.78231418132781982</real>
				<key>Green Component</key>
				<real>0.46265947818756104</real>
				<key>Red Component</key>
				<real>0.12754884362220764</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.43516635894775391</real>
				<key>Green Component</key>
				<real>0.10802463442087173</real>
				<key>Red Component</key>
				<real>0.77738940715789795</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.52502274513244629</real>
				<key>Green Component</key>
				<real>0.57082360982894897</real>
				<key>Red Component</key>
				<real>0.14679534733295441</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.79781103134155273</real>
				<key>Green Component</key>
				<real>0.89001238346099854</real>
				<key>Red Component</key>
				<real>0.91611063480377197</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.15170273184776306</real>
				<key>Green Component</key>
				<real>0.11783610284328461</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.073530435562133789</real>
				<key>Green Component</key>
				<real>0.21325300633907318</real>
				<key>Red Component</key>
				<real>0.74176257848739624</real>
			</dict>
			<key>Background Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.15170273184776306</real>
				<key>Green Component</key>
				<real>0.11783610284328461</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.56363654136657715</real>
				<key>Green Component</key>
				<real>0.56485837697982788</real>
				<key>Red Component</key>
				<real>0.50599193572998047</real>
			</dict>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.51685798168182373</real>
				<key>Green Component</key>
				<real>0.50962930917739868</real>
				<key>Red Component</key>
				<real>0.44058024883270264</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.19370138645172119</real>
				<key>Green Component</key>
				<real>0.15575926005840302</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.51685798168182373</real>
				<key>Green Component</key>
				<real>0.50962930917739868</real>
				<key>Red Component</key>
				<real>0.44058024883270264</real>
			</dict>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.56363654136657715</real>
				<key>Green Component</key>
				<real>0.56485837697982788</real>
				<key>Red Component</key>
				<real>0.50599193572998047</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.19370138645172119</real>
				<key>Green Component</key>
				<real>0.15575926005840302</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
		</dict>
		<key>Solarized Light</key>
		<dict>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.19370138645172119</real>
				<key>Green Component</key>
				<real>0.15575926005840302</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.14145712554454803</real>
				<key>Green Component</key>
				<real>0.10840645432472229</real>
				<key>Red Component</key>
				<real>0.81926983594894409</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.38298487663269043</real>
				<key>Green Component</key>
				<real>0.35665956139564514</real>
				<key>Red Component</key>
				<real>0.27671992778778076</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.43850564956665039</real>
				<key>Green Component</key>
				<real>0.40717673301696777</real>
				<key>Red Component</key>
				<real>0.32436618208885193</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.51685798168182373</real>
				<key>Green Component</key>
				<real>0.50962930917739868</real>
				<key>Red Component</key>
				<real>0.44058024883270264</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.72908437252044678</real>
				<key>Green Component</key>
				<real>0.33896297216415405</real>
				<key>Red Component</key>
				<real>0.34798634052276611</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.56363654136657715</real>
				<key>Green Component</key>
				<real>0.56485837697982788</real>
				<key>Red Component</key>
				<real>0.50599193572998047</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.86405980587005615</real>
				<key>Green Component</key>
				<real>0.95794391632080078</real>
				<key>Red Component</key>
				<real>0.98943418264389038</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.020208755508065224</real>
				<key>Green Component</key>
				<real>0.54115492105484009</real>
				<key>Red Component</key>
				<real>0.44977453351020813</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.023484811186790466</real>
				<key>Green Component</key>
				<real>0.46751424670219421</real>
				<key>Red Component</key>
				<real>0.64746475219726562</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.78231418132781982</real>
				<key>Green Component</key>
				<real>0.46265947818756104</real>
				<key>Red Component</key>
				<real>0.12754884362220764</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.43516635894775391</real>
				<key>Green Component</key>
				<real>0.10802463442087173</real>
				<key>Red Component</key>
				<real>0.77738940715789795</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.52502274513244629</real>
				<key>Green Component</key>
				<real>0.57082360982894897</real>
				<key>Red Component</key>
				<real>0.14679534733295441</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.79781103134155273</real>
				<key>Green Component</key>
				<real>0.89001238346099854</real>
				<key>Red Component</key>
				<real>0.91611063480377197</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.15170273184776306</real>
				<key>Green Component</key>
				<real>0.11783610284328461</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.073530435562133789</real>
				<key>Green Component</key>
				<real>0.21325300633907318</real>
				<key>Red Component</key>
				<real>0.74176257848739624</real>
			</dict>
			<key>Background Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.86405980587005615</real>
				<key>Green Component</key>
				<real>0.95794391632080078</real>
				<key>Red Component</key>
				<real>0.98943418264389038</real>
			</dict>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.38298487663269043</real>
				<key>Green Component</key>
				<real>0.35665956139564514</real>
				<key>Red Component</key>
				<real>0.27671992778778076</real>
			</dict>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.43850564956665039</real>
				<key>Green Component</key>
				<real>0.40717673301696777</real>
				<key>Red Component</key>
				<real>0.32436618208885193</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.79781103134155273</real>
				<key>Green Component</key>
				<real>0.89001238346099854</real>
				<key>Red Component</key>
				<real>0.91611063480377197</real>
			</dict>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.43850564956665039</real>
				<key>Green Component</key>
				<real>0.40717673301696777</real>
				<key>Red Component</key>
				<real>0.32436618208885193</real>
			</dict>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.38298487663269043</real>
				<key>Green Component</key>
				<real>0.35665956139564514</real>
				<key>Red Component</key>
				<real>0.27671992778778076</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.79781103134155273</real>
				<key>Green Component</key>
				<real>0.89001238346099854</real>
				<key>Red Component</key>
				<real>0.91611063480377197</real>
			</dict>
		</dict>
	</dict>
	<key>Default Bookmark Guid</key>
	<string>F23BFD1E-B5F9-4432-A8AF-01D4186AF1E4</string>
	<key>DimBackgroundWindows</key>
	<false/>
	<key>DimOnlyText</key>
	<false/>
	<key>DisableFullscreenTransparency</key>
	<true/>
	<key>DisableWindowSizeSnap</key>
	<true/>
	<key>EnableDivisionView</key>
	<true/>
	<key>EnableProxyIcon</key>
	<false/>
	<key>FlashTabBarInFullscreen</key>
	<true/>
	<key>FocusFollowsMouse</key>
	<false/>
	<key>GlobalKeyMap</key>
	<dict>
		<key>0xd-0x100000</key>
		<dict>
			<key>Action</key>
			<integer>25</integer>
			<key>Text</key>
			<string>Maximize Active Pane
Maximize Active Pane</string>
		</dict>
		<key>0xd-0x40000</key>
		<dict>
			<key>Action</key>
			<integer>11</integer>
			<key>Text</key>
			<string>0xa</string>
		</dict>
		<key>0xf700-0x300000</key>
		<dict>
			<key>Action</key>
			<integer>20</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf701-0x300000</key>
		<dict>
			<key>Action</key>
			<integer>21</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf702-0x240000</key>
		<dict>
			<key>Action</key>
			<integer>10</integer>
			<key>Text</key>
			<string>b</string>
		</dict>
		<key>0xf702-0x280000</key>
		<dict>
			<key>Action</key>
			<integer>10</integer>
			<key>Text</key>
			<string>b</string>
		</dict>
		<key>0xf702-0x300000</key>
		<dict>
			<key>Action</key>
			<integer>18</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf703-0x240000</key>
		<dict>
			<key>Action</key>
			<integer>10</integer>
			<key>Text</key>
			<string>f</string>
		</dict>
		<key>0xf703-0x280000</key>
		<dict>
			<key>Action</key>
			<integer>10</integer>
			<key>Text</key>
			<string>f</string>
		</dict>
		<key>0xf703-0x300000</key>
		<dict>
			<key>Action</key>
			<integer>19</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf729-0x100000</key>
		<dict>
			<key>Action</key>
			<integer>5</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf72b-0x100000</key>
		<dict>
			<key>Action</key>
			<integer>4</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf72c-0x100000</key>
		<dict>
			<key>Action</key>
			<integer>9</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf72d-0x100000</key>
		<dict>
			<key>Action</key>
			<integer>8</integer>
			<key>Text</key>
			<string></string>
		</dict>
	</dict>
	<key>HTMLTabTitles</key>
	<false/>
	<key>HapticFeedbackForEsc</key>
	<false/>
	<key>HideActivityIndicator</key>
	<true/>
	<key>HideMenuBarInFullscreen</key>
	<true/>
	<key>HideScrollbar</key>
	<true/>
	<key>HideTab</key>
	<false/>
	<key>HideTabCloseButton</key>
	<true/>
	<key>HideTabNumber</key>
	<true/>
	<key>Hotkey</key>
	<true/>
	<key>HotkeyChar</key>
	<integer>167</integer>
	<key>HotkeyCode</key>
	<integer>10</integer>
	<key>HotkeyMigratedFromSingleToMulti</key>
	<true/>
	<key>HotkeyModifiers</key>
	<integer>1048840</integer>
	<key>JobName</key>
	<false/>
	<key>New Bookmarks</key>
	<array>
		<dict>
			<key>ASCII Anti Aliased</key>
			<true/>
			<key>ASCII Ligatures</key>
			<false/>
			<key>Allow Title Reporting</key>
			<true/>
			<key>Ambiguous Double Width</key>
			<false/>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.19370138645172119</real>
				<key>Green Component</key>
				<real>0.15575926005840302</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.14145712554454803</real>
				<key>Green Component</key>
				<real>0.10840645432472229</real>
				<key>Red Component</key>
				<real>0.81926983594894409</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.38298487663269043</real>
				<key>Green Component</key>
				<real>0.35665956139564514</real>
				<key>Red Component</key>
				<real>0.27671992778778076</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.43850564956665039</real>
				<key>Green Component</key>
				<real>0.40717673301696777</real>
				<key>Red Component</key>
				<real>0.32436618208885193</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.51685798168182373</real>
				<key>Green Component</key>
				<real>0.50962930917739868</real>
				<key>Red Component</key>
				<real>0.44058024883270264</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.72908437252044678</real>
				<key>Green Component</key>
				<real>0.33896297216415405</real>
				<key>Red Component</key>
				<real>0.34798634052276611</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.56363654136657715</real>
				<key>Green Component</key>
				<real>0.56485837697982788</real>
				<key>Red Component</key>
				<real>0.50599193572998047</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.86405980587005615</real>
				<key>Green Component</key>
				<real>0.95794391632080078</real>
				<key>Red Component</key>
				<real>0.98943418264389038</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.020208755508065224</real>
				<key>Green Component</key>
				<real>0.54115492105484009</real>
				<key>Red Component</key>
				<real>0.44977453351020813</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.023484811186790466</real>
				<key>Green Component</key>
				<real>0.46751424670219421</real>
				<key>Red Component</key>
				<real>0.64746475219726562</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.78231418132781982</real>
				<key>Green Component</key>
				<real>0.46265947818756104</real>
				<key>Red Component</key>
				<real>0.12754884362220764</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.43516635894775391</real>
				<key>Green Component</key>
				<real>0.10802463442087173</real>
				<key>Red Component</key>
				<real>0.77738940715789795</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.52502274513244629</real>
				<key>Green Component</key>
				<real>0.57082360982894897</real>
				<key>Red Component</key>
				<real>0.14679534733295441</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.79781103134155273</real>
				<key>Green Component</key>
				<real>0.89001238346099854</real>
				<key>Red Component</key>
				<real>0.91611063480377197</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.15170273184776306</real>
				<key>Green Component</key>
				<real>0.11783610284328461</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.073530435562133789</real>
				<key>Green Component</key>
				<real>0.21325300633907318</real>
				<key>Red Component</key>
				<real>0.74176257848739624</real>
			</dict>
			<key>BM Growl</key>
			<true/>
			<key>Background Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.86405980587005615</real>
				<key>Green Component</key>
				<real>0.95794391632080078</real>
				<key>Red Component</key>
				<real>0.98943418264389038</real>
			</dict>
			<key>Background Image Location</key>
			<string></string>
			<key>Badge Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.5</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.1491314172744751</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Blinking Cursor</key>
			<true/>
			<key>Blur</key>
			<false/>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.38298487663269043</real>
				<key>Green Component</key>
				<real>0.35665956139564514</real>
				<key>Red Component</key>
				<real>0.27671992778778076</real>
			</dict>
			<key>Character Encoding</key>
			<integer>4</integer>
			<key>Close Sessions On End</key>
			<true/>
			<key>Columns</key>
			<integer>80</integer>
			<key>Command</key>
			<string></string>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.43850564956665039</real>
				<key>Green Component</key>
				<real>0.40717673301696777</real>
				<key>Red Component</key>
				<real>0.32436618208885193</real>
			</dict>
			<key>Cursor Guide Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.25</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.9268307089805603</real>
				<key>Red Component</key>
				<real>0.70213186740875244</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.79781103134155273</real>
				<key>Green Component</key>
				<real>0.89001238346099854</real>
				<key>Red Component</key>
				<real>0.91611063480377197</real>
			</dict>
			<key>Cursor Type</key>
			<integer>1</integer>
			<key>Custom Command</key>
			<string>No</string>
			<key>Custom Directory</key>
			<string>No</string>
			<key>Default Bookmark</key>
			<string>No</string>
			<key>Description</key>
			<string>Default</string>
			<key>Disable Window Resizing</key>
			<true/>
			<key>Flashing Bell</key>
			<false/>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.43850564956665039</real>
				<key>Green Component</key>
				<real>0.40717673301696777</real>
				<key>Red Component</key>
				<real>0.32436618208885193</real>
			</dict>
			<key>Guid</key>
			<string>F23BFD1E-B5F9-4432-A8AF-01D4186AF1E4</string>
			<key>Horizontal Spacing</key>
			<real>1</real>
			<key>Idle Code</key>
			<integer>0</integer>
			<key>Jobs to Ignore</key>
			<array>
				<string>rlogin</string>
				<string>ssh</string>
				<string>slogin</string>
				<string>telnet</string>
			</array>
			<key>Keyboard Map</key>
			<dict>
				<key>0xf700-0x380000-0x7e</key>
				<dict>
					<key>Action</key>
					<integer>55</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string></string>
					<key>Version</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Link Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.73423302173614502</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.35916060209274292</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Mouse Reporting</key>
			<true/>
			<key>Name</key>
			<string>Default</string>
			<key>Non Ascii Font</key>
			<string>ComicCodeLigatures-Regular 10</string>
			<key>Non-ASCII Anti Aliased</key>
			<true/>
			<key>Normal Font</key>
			<string>ComicCodeLigatures-Regular 12</string>
			<key>Option Key Sends</key>
			<integer>2</integer>
			<key>Place Prompt at First Column</key>
			<false/>
			<key>Prompt Before Closing 2</key>
			<integer>2</integer>
			<key>Right Option Key Sends</key>
			<integer>2</integer>
			<key>Rows</key>
			<integer>25</integer>
			<key>Screen</key>
			<integer>-1</integer>
			<key>Scrollback Lines</key>
			<integer>0</integer>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.38298487663269043</real>
				<key>Green Component</key>
				<real>0.35665956139564514</real>
				<key>Red Component</key>
				<real>0.27671992778778076</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.79781103134155273</real>
				<key>Green Component</key>
				<real>0.89001238346099854</real>
				<key>Red Component</key>
				<real>0.91611063480377197</real>
			</dict>
			<key>Semantic History</key>
			<dict>
				<key>action</key>
				<string>command</string>
				<key>editor</key>
				<string>com.github.atom</string>
				<key>text</key>
				<string>/Applications/GoLand.app/Contents/MacOS/goland \1 --line \2</string>
			</dict>
			<key>Send Code When Idle</key>
			<false/>
			<key>Shortcut</key>
			<string></string>
			<key>Show Mark Indicators</key>
			<false/>
			<key>Silence Bell</key>
			<true/>
			<key>Sync Title</key>
			<false/>
			<key>Tags</key>
			<array/>
			<key>Terminal Type</key>
			<string>xterm-256color</string>
			<key>Thin Strokes</key>
			<integer>4</integer>
			<key>Transparency</key>
			<real>0.0</real>
			<key>Unlimited Scrollback</key>
			<true/>
			<key>Use Bold Font</key>
			<true/>
			<key>Use Bright Bold</key>
			<false/>
			<key>Use Italic Font</key>
			<true/>
			<key>Use Non-ASCII Font</key>
			<true/>
			<key>Vertical Spacing</key>
			<real>1</real>
			<key>Visual Bell</key>
			<false/>
			<key>Window Type</key>
			<integer>0</integer>
			<key>Working Directory</key>
			<string>/Users/rudnyh</string>
		</dict>
	</array>
	<key>PMPrintingExpandedStateForPrint2</key>
	<false/>
	<key>PasteTabToStringTabStopSize</key>
	<integer>4</integer>
	<key>PointerActions</key>
	<dict/>
	<key>Print In Black And White</key>
	<true/>
	<key>PromptOnQuit</key>
	<false/>
	<key>QuitWhenAllWindowsClosed</key>
	<true/>
	<key>ShowFullScreenTabBar</key>
	<true/>
	<key>ShowNewOutputIndicator</key>
	<true/>
	<key>ShowPaneTitles</key>
	<false/>
	<key>SmartPlacement</key>
	<true/>
	<key>SoundForEsc</key>
	<false/>
	<key>SplitPaneDimmingAmount</key>
	<real>0.21012620192307696</real>
	<key>StatusBarPosition</key>
	<integer>0</integer>
	<key>StretchTabsToFillBar</key>
	<false/>
	<key>SuppressRestartAnnouncement</key>
	<true/>
	<key>SwitchTabModifier</key>
	<integer>9</integer>
	<key>SwitchWindowModifier</key>
	<integer>9</integer>
	<key>TabStyle</key>
	<integer>2</integer>
	<key>TabStyleWithAutomaticOption</key>
	<integer>6</integer>
	<key>ToolbeltTools</key>
	<array>
		<string>Profiles</string>
	</array>
	<key>UseBorder</key>
	<false/>
	<key>UseExperimentalFontMetrics</key>
	<true/>
	<key>VisualIndicatorForEsc</key>
	<false/>
	<key>WindowNumber</key>
	<false/>
	<key>WordCharacters</key>
	<string>/-+\~_.</string>
	<key>findMode_iTerm</key>
	<integer>0</integer>
</dict>
</plist>
